@use "variable" as var;
@use "mixin" as mix;

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background: var.$secondary;
}
a{
	text-decoration: none;
	transition: 0.3s;
}
img{
	max-width: 100%;
}
ul, ol{
	margin: 0;
	padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6{
	margin: 0;
}
.container{
	width: 100%;
	float: left;
	padding-right: 20px;
	padding-left: 20px;
}
.row{
	max-width: 1140px;
	margin: 0 auto;
}
.table{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}


@media (min-width: 768px){
	.open-menu{
		display: none;
	}
}
.open-menu{
	a{
		img{
			&:last-child{
				display: none;
			}
		}
	}
}
.mm-wrapper--opened {
	.open-menu{
		a{
			img{
				&:last-child{
					display: block;
				}
				&:first-child{
					display: none;
				}
			}
		}
	}
	.mm-panel{
		background: var.$black;
		.mm-navbar{
			background: var.$black;
			border-bottom: 1px solid var.$whaite;
			padding: 20px 0;
		}
		.mm-navbar__title{
			@include mix.navbar(25px,27px,var.$whaite,$pd:0,$bg:none,);
		}
		.mm-listitem__text{
			@include mix.navbar(14px,18px,var.$whaite,$pd:0,$bg:none,);
			border-bottom: 1px solid var.$whaite;
			padding: 10px 0;
			text-align: center;
		}
	}
}
.open-menu{
	position: absolute;
	top: 20px;
	left: 20px;
}
/* header-section style start */
header{
	@include mix.top(20px, 20px);
	@include mix.breakpoint(md){
		position: relative;
	}
}
.logo{
	max-width: 194px;
	margin: 0 auto;
}
.logo a{
	display: inline-block;
}
nav{
	@include mix.breakpoint(md){
		display: none;
	}
	ul{
		list-style: none;
		li{
			display: inline-block;
			margin-left: 25px;
			&:first-chile{
				margin-left: 0;
			}
			@include mix.breakpoint(xxl){
				margin-left: 23px;
			}
			@include mix.breakpoint(xl){
					margin-left: 12px;
				}
				@include mix.breakpoint(lg){
					margin-left: 5px;
				}
			a{
				@include mix.navbar($bg:none,$pd:0,);
				@include mix.breakpoint(lg){
					font-size: 13px;
					line-height: 15px;
				}
				&:hover{
					border-bottom: 2px solid var.$black;
				}
			}
			&:last-child{
				a{
					@include mix.navbar();
					color: var.$whaite;
					@include mix.breakpoint(lg){
						padding: 5px 4px;
						font-size: 13px;
						line-height: 15px;
					}
					&:hover{
						background: var.$black;
						border-bottom: none;
					}
				}
			}
		}
	}
}

/* header-section style end */

/* banner-section style start */

.banner-section{
	.container{

	}
	@include mix.top(60px,0,var.$primery);
	padding-right: 0;
	@include mix.breakpoint(md){
		padding-right: 20px;
		padding-top:40px;
		padding-bottom: 40px	;
		text-align: center;
	}
	.flex{
		display: flex;
		align-items: center;
		gap: 0;
		@include mix.breakpoint(md){
			flex-wrap: wrap;
		}
		.left-bg{
			flex: 1;
			@include mix.breakpoint(md){
				flex: 100%;
				order: 2;
			}
		  .float{
		     float: right;	
		     padding-left: 110px;
		     @include mix.breakpoint(xl){
		     	padding-left: 0;
		     } 
			h1{
				@include mix.head();
				max-width: 470px;
				@include mix.breakpoint(lg){
					font-size: 40px;
					line-height: 58px;
				}
				@include mix.breakpoint(md){
					max-width: none;
				}
			}
			p{
				@include mix.navbar(20px,35px,var.$whaite,$pd:0,$bg:none);
			}
			a{
				@include mix.navbar(20px,22px,$bg:var.$whaite,$pd:18px 38px,);
				margin-top: 48px;
				font-family: "Sora", sans-serif;
				font-weight: 600;
				@include mix.breakpoint(xl){
					margin-top: 20px;
				}
				&:hover{
					opacity: 0.7;
				}
			}
		  }
		}
		.right-bg{
			flex: 1;
			background: url(../images/banner.png) no-repeat top left;
			width: 648px;
			height: 585px;
			margin-right: -50px;
			@include mix.breakpoint(xl){
				margin-right:0;
			}
			@include mix.breakpoint(md){
				background: none;
				width: 100%;
				height: auto;
				flex: 100%;
				padding-top: 20px;
				margin-left: 0;
			}
			.image{
				display: none;
				@include mix.breakpoint(md){
					display: block;
				}
			}
		}
	}
}

/* banner-section style end */


/* first-section style start */

.first-section{
	@include mix.top(124px,124px,var.$secondary);
	@include mix.breakpoint(xl){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include mix.breakpoint(md){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.flex{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mix.breakpoint(md){
			flex-wrap: wrap;
			text-align: center;
		}
		h3{
			@include mix.head(36px,38px,var.$black,);
			@include mix.breakpoint(md){
				flex: 100%;
			}
		}
		a{
			@include mix.btn;
			@include mix.breakpoint(md){
				margin:0 auto;
				margin-top: 15px;
			}
			&:hover{
				background: var.$black;
			}
		}
	}
	.tab{
		margin-top: 50px;
		@include mix.breakpoint(xl){
			margin-top: 20px;
		}
		@include mix.breakpoint(md){
			text-align: center;
		}
		ul{
			list-style: none;
			li{
				display: inline-block;
				margin-left: 55px;
				@include mix.breakpoint(xl){
					margin-left: 20px;
				}
				@include mix.breakpoint(lg){
					margin-left: 10px;
				}
				&:first-chile{
					margin-left: 0;
				}
				a{
					@include mix.navbar($pd:10px 5px,$bg:none,);
					border-bottom: 1px solid transparent;
					&:hover{
						color: var.$primery;
						border-bottom: 1px solid var.$primery;
					}
				}
			}
		}
	}
	.d-flex{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		margin-top: 50px;
		text-align: center;
		@include mix.breakpoint(xl){
			margin-top: 20px;
		}
		@include mix.breakpoint(md){
			flex-wrap: wrap;
		}
		.box{
			flex: 1;
			@include mix.top(50px,50px, var.$whaite);
			@include mix.breakpoint(xl){
			     padding: 20px;
			}
			@include mix.breakpoint(md){
				flex: 100%;
			}
			&:nth-child(2){
				position: relative;
				&:after{
					content: "sale";
					position: absolute;
					top: 20px;
					right: 20px;
					@include mix.navbar(14px,16px,var.$whaite,600,3px 16px,);
					border-radius: 50px;
				}
			}
			.content{
				margin-top: 30px;
				@include mix.breakpoint(md){
					margin-top: 15px;
				}
				h4{
					@include mix.btn(16px,18px,var.$primery,$back:none,$btop:0,);
					text-transform: uppercase;
				}
				p{
					@include mix.btn(16px,25px,var.$black,$back:none,$btop:0,);
					font-weight: 300;
					max-width: 250px;
					margin: 0 auto;
					margin-top: 15px;
				}
				a{
					@include mix.btn(18px,32px,var.$color,$back:none,$btop:0,);
					font-weight: 300;
					display: inline-block;
					margin-top: 20px;
					position: relative;
					@include mix.breakpoint(md){
						margin-top: 15px;
					}
					b{
						@include mix.btn(26px,28px,var.$black,$back:none,$btop:0,);
						font-weight: 700;
						padding-right: 10px;
						&:after{
						 content: "";
                         position: absolute;
                         width: 60px;
                         height: 1px;
                         background: var.$color;
                         right: 0;
                         top: 50%;
                         transform: translate(0,-50%);
						}
					}
				}
			}
		}
	}
}

/* first-section style end */

/* secound-section style start */

.secound-section{
	@include mix.top(145px,145px,var.$whaite);
	@include mix.breakpoint(xl){
		padding-top: 60px;
		padding-bottom: 60px;
		@include mix.breakpoint(md){
			padding-top: 40px;
			padding-bottom: 40px;
			text-align: center;
		}
	}
	.flex{
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mix.breakpoint(md){
			flex-wrap: wrap;
		}
		.left-flex{
			flex: 1;
			@include mix.breakpoint(lg){
				padding-right: 30px;
			}
			@include mix.breakpoint(md){
				padding-right: 0;
				flex: 100%;
			}
			img{
					@include mix.breakpoint(md){
						width: 100%;
					}
			}
		}
		.right-flex{
			flex: 1;
			@include mix.breakpoint(md){
				flex: 100%;
				padding-top: 20px;
			}
			h2{
				@include mix.head($hcolor:var.$black);
				max-width: 430px;
				@include mix.breakpoint(xl){
					font-size: 38px;
					line-height: 55px;
				}
				@include mix.breakpoint(md){
					max-width: none;
				}
			}
			p{
				@include mix.navbar(20px, 35px,var.$color,$pd:25px 0 0 0,$bg:none,);
				@include mix.breakpoint(xl){
					padding-top: 10px;
				}
				@include mix.breakpoint(md){
					max-width: none;
				}
			}
		}
	}
}

/* secound-section style end */

/* third-section style start */

.third-section{
	@extend .first-section;
	.d-flex{
		margin-top: 35px;
		@include mix.breakpoint(xl){
			margin-top: 20px;
		}
	}
	.top-sec{
		text-align: center;
		h2{
			@include mix.head(36px,38px,var.$black);
		}
	}
}

/* third-section style end */

/* four-section style start */

.four-section{
	@include mix.top(135px,135px,none);
	background: url(../images/bg-2.png) no-repeat;
	position: relative;
	text-align: center;
	@include mix.breakpoint(xl){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include mix.breakpoint(md){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	&:after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: var.$whaite;
		opacity: 0.8;
	}
	.row{
		position: relative;
		z-index: 1;
		.top-sec{
			h2{
				@include mix.head(36px,38px,var.$black,);
				max-width: 570px;
				display: inline-block;
			}
			
		}
	       	.table{
                  background: var.$whaite;
                  max-width: 750px;
                  margin: 0 auto;
                  margin-top: 30px;
                  padding: 10px;
                  @include mix.breakpoint(xl){
                  	margin-top: 20px;
                  }
                  input:focus{
                  	outline: 0;
                  }
                  .table-cell{
                  	&:last-child{
                  		width: 20%;
                  	}
                  	&:first-child{
                  		width: 80%;
                  	}
                  }
                  .table-cell input[type="search"]{
                  	width: 100%;
                  	height: 55px;
                  	border: none;
                  	padding: 0 30px;	       
                  }
                  .table-cell input[type="submit"]{
                  	width: 100%;
                  	height: 55px;
                  	border: none;
                  	background: var.$primery;
                  	font-family: "Sora", sans-serif;
                  	font-weight: 400;
                  	font-size: 18px;
                  	line-height: 20px;
                  	color: var.$whaite;
                  	cursor: pointer;
                  	@include mix.breakpoint(xs){
                  		font-size: 12px;
                  		line-height: 14px;
                  	}
                  	&:hover{
                  		opacity: 0.8;
                  	}
                  }
            }
            .btn{
            	margin-top: 50px;
            	@include mix.breakpoint(xl){
            		margin-top: 20px;
            		@include mix.breakpoint(xs){
            			margin-top: 0;
            		}
            	}
            	a{
            		@include mix.btn(16px,18px,var.$black,$btop:15px 21px,);
            		background: rgba(255, 255, 255, 0.47);
            		margin-left: 15px;
            		display: inline-block;
            		&:hover{
            			background: var.$primery;
            		}
            		@include mix.breakpoint(lg){
            			padding:12px 17px;
            			margin-left: 10px;
            		}
            		@include mix.breakpoint(xs){
            			margin-left: 0;
            			margin-top: 10px;
            			font-size: 14px;
            			line-height: 16px;
            		}
            		&:hover{
            			background: var.$primery;
            		}
            		&:first-child{
            			margin-left: 0;
            		}
            	}
            }
	}
}

/* four-section style end */


/* five-section style start */

.five-section{
	@extend .secound-section;
	background: var.$secondary;
	.right-flex{
		a{
			@include mix.btn();
			display: inline-block;
			margin-top: 40px;
			@include mix.breakpoint(xl){
				margin-top: 20px;
			}
			&:hover{
			   background: var.$black;
			}
		}
	}
}

/* five-section style end */

/* six-section style start */

.six-section{
	@include mix.top(130px, 130px,var.$secondary,);
	@include mix.breakpoint(xl){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include mix.breakpoint(md){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.top-sec{
		text-align: center;
		h2{
			@include mix.head(36px,38px,var.$black);
		}
	}
	.d-flex{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       margin-top: 50px;
       gap: 20px;
       @include mix.breakpoint(xl){
       	margin-top: 20px;
       }
       @include mix.breakpoint(md){
       	flex-wrap: wrap;
       }
       .box{
       	flex: 1;
       	@include mix.breakpoint(md){
       		flex: 100%;
       		text-align: center;
       	}
       	img{
       		@include mix.breakpoint(md){
       			width: 100%;
       		}
       	}
       }
	}
}

/* six-section style end */

/* seven-section style start */

.seven-section{
	@include mix.top(115px,115px,var.$whaite);
	@include mix.breakpoint(xl){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include mix.breakpoint(md){
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.text-sec{
		text-align: center;
		h2{
			@include mix.head(36px,38px,var.$black);
		}
	}
	.flex{
		display: flex;
		align-items: center;
		gap: 20px;
		margin-top: 50px;
		@include mix.breakpoint(xl){
			margin-top: 20px;
		}
		@include mix.breakpoint(md){
			flex-wrap: wrap;
		}
		.box{
			flex: 1;
			background: var.$secondary;
			padding: 25px;
			@include mix.breakpoint(lg){
				padding: 15px;
			}
			@include mix.breakpoint(md){
				flex: 100%;
			}
			.box-p{
				p{
						@include mix.head(14px,25px,var.$black,);
				    display: inline-block;
				    max-width: 320px;
				    @include mix.breakpoint(md){
				    	max-width: none;
				    	text-align: center;
				    }
				}
			
			}
			.post{
				display: inline-block;
				margin-top: 20px;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					background-image: url(../images/star.png);
					background-repeat: repeat-x;
					width: 85px;
          height: 16px;
          bottom: 9px;
          left: 50px;;
				}
				.photo{
					display: inline-block;
					vertical-align: top;
				}
				.post-tx{
					display: inline-block;
					vertical-align: top;
					p{
						@include mix.head(16px,18px,$hweight:300,);
						color: #6B6867;
						@include mix.breakpoint(lg){
							font-size: 14px;
							line-height: 16px;
						}
					}
				}
			}
			.google{
				float: right;
				margin-top: 15px;
			}
		}
	}
}

/* seven-section end */

/* footer-section style start */

footer{
	@include mix.top(80px,80px,var.$black);
	@include mix.breakpoint(xl){
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include mix.breakpoint(md){
		padding-top: 40px;
		padding-bottom: 40px;
		text-align: center;
	}
		.flex{
			display: flex;
			align-items: start;
			justify-content: space-between;
			gap: 55px;
			@include mix.breakpoint(lg){
				gap: 34px;
			}
			@include mix.breakpoint(md){
				flex-wrap: wrap;
			}
			.footer-tx{
			p{
				@include mix.navbar(14px,24px,var.$secondary,$pd:0,$bg:none,);
				max-width: 252px;
				margin-top: 25px;
				display: block;
				@include mix.breakpoint(md){
					max-width: none;
				}
			}
			img{
				max-width: 112px;
				@include mix.breakpoint(md){
					margin: 0 auto;
				}
			}
		}
			.footer{
				flex: 1;
				@include mix.breakpoint(md){
					flex: 100%;
				}
				ul{
					list-style: none;
					li{
						margin-top: 15px;
						&:first-child{
							margin-top: 25px;
						}
						a{
							@include mix.navbar(14px,18px,var.$whaite,$pd:0,$bg:none,);
							border-bottom: 2px solid transparent;
							&:hover{
								border-bottom: 2px solid var.$whaite;
							}
						}
					}
				}
				h3{
					@include mix.head(18px,20px,);
				}
				.mail-box{
					margin-top: 25px;
					input:focus{
						outline: 0;
					}
					.input-fild input[type="email"]{
						width: 100%;
						height: 48px;
						background: var.$first;
						border: none;
						padding: 0 20px;
						color: var.$secondary;
					}
					.input-fild{
						&:last-child{
							margin-top: 15px;
						}
					}
					.input-fild input[type="submit"]{
						width: 100%;
						height: 48px;
						background: var.$whaite;
						cursor: pointer;
						&:hover{
							opacity: 0.7;
						}
					}
				}
			}
		}
}

/* footer-section style end */